# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# NOTE: Hanging on to these due to convenience.
# This will change in the future.

# *.so
# *.dylib
# *.dll
*.ilk
*.pdb

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
# NOTE: See 'Compiled Dynamic Libaries'
# *.lai
# *.la
# *.a
# *.lib

# Executables
*.exe
*.out
*.app

# Temporary files
Build/

# IDE data
.vs/
.vscode/